<a href="https://colab.research.google.com/github/JabirMJ2/datascience/blob/main/prgm_11_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Implement SVM Classification using diabetes dataset
import pandas as pd

In [2]:
dataset = pd.read_csv('./diabetes.csv')
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
x = dataset.iloc[:, :-1]
y = dataset.iloc[:,-1]

In [7]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [8]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.2, random_state=0)
x_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
598,1,173,74,0,0,36.8,0.088,38
139,5,105,72,29,325,36.9,0.159,28
260,3,191,68,15,130,30.9,0.299,34
323,13,152,90,33,29,26.8,0.731,43
688,1,140,74,26,180,24.1,0.828,23

In [11]:
from sklearn.svm import SVC
classifier = SVC(kernel = "linear")
classifier.fit(x_train, y_train)

SVC(kernel='linear')

In [13]:
y_pred = classifier.predict(x_test)
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test, y_pred)
acc

0.7609756097560976

In [14]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[351  45]
 [102 117]]

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.89      0.83       396
           1       0.72      0.53      0.61       219

    accuracy                           0.76       615
   macro avg       0.75      0.71      0.72       615
weighted avg       0.76      0.76      0.75       615